<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="page-header">Admin</h2>
            <h3 class="page-header">Users</h3>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>
                            <span class="glyphicon glyphicon-triangle-bottom"></span>
                            Username
                        </th>
                        <th>
                            <span class="glyphicon glyphicon-triangle-bottom"></span>
                            Password
                        </th>
                        <th>
                            <span class="glyphicon glyphicon-triangle-bottom"></span>
                            Role
                        </th>
                        <th>
                            <span class="glyphicon glyphicon-triangle-bottom"></span>
                            Action
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" class="form-control" id="uName" placeholder="Username">
                        </td>
                        <td>
                            <input type="password" class="form-control" id="passwd" placeholder="Password">
                        </td>
                        <td>
                            <input type="text" class="form-control" id="role" placeholder="Role1, Role2">
                        </td>
                        <td align="center">
                            <span class="glyphicon glyphicon-plus"></span> &nbsp;
                            <span class="glyphicon glyphicon-ok"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            alice
                        </td>
                        <td>
                        </td>
                        <td>
                            student
                        </td>
                        <td align="center">
                            <span class="glyphicon glyphicon-remove"></span> &nbsp;
                            <span class="glyphicon glyphicon-pencil"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            bob
                        </td>
                        <td>
                        </td>
                        <td>
                            faculty | admin
                        </td>
                        <td align="center">
                            <span class="glyphicon glyphicon-remove"></span> &nbsp;
                            <span class="glyphicon glyphicon-pencil"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            charlie
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td align="center">
                            <span class="glyphicon glyphicon-remove"></span> &nbsp;
                            <span class="glyphicon glyphicon-pencil"></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>