<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <p id="signFont">Login</p>
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="uName" class="col-sm-2 control-label" style="color: white">Username</label>
                    <div class="col-sm-6 input-list style-4 clearfix">
                        <input style="color: white" type="text" class="form-control" id="uName" ng-model="model.user.username" placeholder="Username">
                    </div>
                </div>
                <div class="form-group">
                    <label for="passwd" class="col-sm-2 control-label" style="color: white">Password</label>
                    <div class="col-sm-6 input-list style-4 clearfix">
                        <input style="color: white"  type="password" class="form-control" id="passwd" ng-model="model.user.password" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-6">
                        <!-- navigates to profile page -->
                        <button type="button" class="btn btn-default btn-block" ng-click="model.login()">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
