<div class="container">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <p id="signFont">Account Settings</p>
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="uName" class="col-sm-2 control-label" id="myFont">Username</label>
                    <div class="col-sm-8 input-list style-4 clearfix">
                        <input style="color: white" type="text" class="form-control" id="uName" ng-model="model.user.username" placeholder="Username">
                    </div>
                </div>
                <div class="form-group">
                    <label for="fName" class="col-sm-2 control-label" id="myFont">First Name</label>
                    <div class="col-sm-8 input-list style-4 clearfix">
                        <input style="color: white" type="text" class="form-control" id="fName" ng-model="model.user.firstName" placeholder="First Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="lName" class="col-sm-2 control-label" id="myFont">Last Name</label>
                    <div class="col-sm-8 input-list style-4 clearfix">
                        <input style="color: white" type="text" class="form-control" id="lName" ng-model="model.user.lastName" placeholder="Last Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label" id="myFont">Email</label>
                    <div class="col-sm-8 input-list style-4 clearfix">
                        <input style="color: white" type="email" class="form-control" id="email" ng-model="model.user.email" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-8">
                        <a id="myFont" style="text-decoration: none" href="" data-toggle="modal" data-target="#updatePwdModal">Click here -> Change Password?</a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-8">
                        <div class="checkbox-inline">
                            <label id="myFont">
                                <input style="color: white" type="checkbox" ng-model="model.event" ng-true-value="'Events'" ng-false-value="'false'"> Events
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-offset-2 col-sm-8">
                        <div class="checkbox-inline">
                            <label id="myFont">
                                <input style="color: white" type="checkbox" ng-model="model.recipe" ng-true-value="'Cooking Recipes'" ng-false-value="'false'"> Cooking Recipes
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-offset-2 col-sm-8">
                        <div class="checkbox-inline">
                            <label id="myFont">
                                <input style="color: white" type="checkbox" ng-model="model.news" ng-true-value="'Space Exploration'" ng-false-value="'false'"> Space Exploration
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-8">
                        <!-- navigates to profile page -->
                        <button type="button" ng-click="model.update(model.user)" class="btn btn-default btn-block"> Update </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="updatePwdModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <div class="col-sm-8 input-list style-4 clearfix">
                            <p id="signFont" style="color: crimson" class="modal-title">Enter New Password</p>
                            <input type="password" class="form-control input-sm" id="placeholder" placeholder="" ng-model="model.user.password">
                        </div>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="model.updatePwd(model.user)" data-dismiss="modal">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>
