#myDiv{
    display:none;
}

#myLogin{
    display:none;
}

body {
    height: 100%;
    width: 100%;
    color:#7a7a7a;
    line-height:24px;
    background-image: url("../images/pinterest.jpg");
    background-color: white;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.main-container {
    padding: 10px 15px;
}

.p {
    text-align: center;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.border img {
    transition: 1s ease;
}

.border img:hover{
    box-shadow: 0 0 0 2px crimson;
    transition: 1s ease;
}

html * {
    font-family: 'Handlee', cursive;
    font-size: 15px;
}

/*.navbar-custom*/
/*{*/
    /*background: url(../images/border.png) repeat-x#f5f5f5;*/
    /*background-color: white;*/
    /*color: black;*/
/*}*/

/*.navbar-default{ !* assigning the top bar to the entire navbar div element *!*/
    /*text-align: center;*/
    /*border-color: white;*/
    /*color : black;*/
    /*!*box-shadow: inset 0px 6px 0px crimson; !* initial gray color to the top bar*!*!*/
/*}*/
/*.navbar-default .navbar-nav > li > a:hover,*/
/*.navbar-default .navbar-nav > li > a:focus {*/
    /*color: black;*/
    /*background-color: lightcoral;*/
  /*!*  box-shadow: inset 0px 6px 0px #000; !* switch to a darker color on hover *!*/
/*}*/


/*.navbar-default .navbar-nav > .active > a,*/
/*.navbar-default .navbar-nav > .active > a:hover,*/
/*.navbar-default .navbar-nav > .active > a:focus {*/
    /*color: white;*/
    /*background-color: lightcoral;*/
    /*!*box-shadow: inset 0px 6px 0px #AAA; !* switch to a lighter color for active element *!*!*/
/*}*/

/*.navbar-default .navbar-brand {*/
    /*color: black;*/
/*}*/
/*.navbar-default .navbar-brand > .active > a,*/
/*.navbar-default .navbar-brand > .active > a:hover,*/
/*.navbar-default .navbar-brand > .active > a:focus {*/
    /*color: white;*/
    /*background-color: lightcoral;*/
    /*!*box-shadow: inset 0px 6px 0px #AAA; !* switch to a lighter color for active element *!*!*/
/*}*/


h1 { color: crimson;
    font-family: "Great Vibes", cursive;
    font-size: 65px;
    line-height: 90px;
    font-weight: normal;
    /*margin-bottom: 0px;
    margin-top: 40px;*/
    text-align: center;
    text-shadow: 0 1px 1px #fff; }

h3 { color: crimson;
    font-family: "Great Vibes", cursive;
    font-size: 65px;
    line-height: 90px;
    font-weight: normal;
    /*margin-bottom: 0px;
    margin-top: 40px;*/
    text-align: center;
    text-shadow: 0 1px 1px #fff; }


h4 { color: black;
    font-family: "Great Vibes", cursive;
    font-size: 20px;
    line-height: 90px;
    font-weight: normal;
    /*margin-bottom: 0px;
    margin-top: 40px; */
    text-align: center;
    text-shadow: 0 1px 1px #fff; }

#signFont { color: black;
    font-family: "Great Vibes", cursive;
    font-size: 20px;
    line-height: 30px;
    font-weight: normal;
    color: white;
    /*margin-bottom: 0px;
    margin-top: 40px;
    text-align: center;*/
    text-shadow: 0 1px 1px #fff; }

#myFont{
    font-family: "Great Vibes", cursive;
    color: white;
}

.btn-clear{
    border:4px solid;
    font-size:14px;
    color:crimson;
}

.btn-default{
    background: crimson;
    /*border:4px solid;*/
    font-size:14px;
    color:white;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    background: crimson;
    border-color: white;
    color:white;
}

.btn-default:active, .btn-default.active {
    background: crimson;
    box-shadow: none;
}

.style-4 input[type="text"] {
    padding: 10px;
    border: none;
    border-bottom: solid 2px crimson;
    transition: border 0.3s;
}
.style-4 input[type="text"]:focus,
.style-4 input[type="text"].focus {
    border-bottom: solid 2px crimson;
}

.style-4 input[type="email"] {
    padding: 10px;
    border: none;
    border-bottom: solid 2px crimson;
    transition: border 0.3s;
}
.style-4 input[type="email"]:focus,
.style-4 input[type="email"].focus {
    border-bottom: solid 2px crimson;
}

.style-4 input[type="password"] {
    padding: 10px;
    border: none;
    border-bottom: solid 2px crimson;
    transition: border 0.3s;
}
.style-4 input[type="password"]:focus,
.style-4 input[type="password"].focus {
    border-bottom: solid 2px crimson;
}

.leftPaneDiv{
    border-radius: 25px;
    border: 1px solid crimson;
    padding-left: 30px;
    padding-right: 30px;
    background-color:white;
}

.wrapper {
    width: 95%;
    margin: 1.5em auto;
}

#panel-heading{
    background-image: url("../images/woody.jpg");
    text-align:center;
    color:white;
}

#header {
    background-image: url("../images/woody.jpg");
    border-radius: 10px;
    padding: 20px;
    background-color:white;
    color:white;
    text-align:center;
}

#section {
    float:left;
    width:350px;
    border-radius: 10px;
    border-color: saddlebrown;
    padding:10px;
}

#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus {
    color: white;
    background-color: crimson;
}

.nav-pills > li.active > a:hover {
    background-color: crimson;
    color:white;
}

#scroll {
    width: 1140px;
    height: 300px;
    overflow-y: scroll;
}

.avatar{
    max-width:120px;
}
.avatar img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.memberImage, .pendingMemberImage {
    height: 40px;
    width: 40px;
}

.sub-text {
    color:black;
    font-family:verdana;
    font-size:11px;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}