/*body {
    background-image: url("../images/background4.jpg");
    background-color: white;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}*/

.main-container {
    padding: 10px 15px;
}

.p {
    text-align: center;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.border img {
    transition: 1s ease;
}

.border img:hover{
    box-shadow: 0 0 0 10px palevioletred;
    transition: 1s ease;
}

html * {
    font-family: 'Handlee', cursive;
    font-size: 15px;
}

.navbar-custom{
    background: transparent;
    border: none;
}

/* Override icons (hearts) */
#stars-as-hearts .stars-icon::before {
    content: "\2665"
}
#stars-as-hearts .sr-user-rating .stars-icon,
#stars-as-hearts .sr-avg-rating  .stars-icon {
    color: #d1202a;
}