<div class="container-fluid" ng-controller="FormController">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="page-header">Forms</h2>
            <div>
                <ul class="nav nav-tabs nav-justified">
                    <li role="presentation" class="active">
                        <a href="#/forms" aria-controls="forms">Forms</a></li>
                    <li role="presentation">
                        <a href="#/fields" aria-controls="fields">Fields</a></li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="forms">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered">
                                <tr>
                                    <th>
                                        <span class="glyphicon glyphicon-triangle-bottom"></span>
                                        Form Name
                                    </th>
                                    <th>
                                        <span class="glyphicon glyphicon-triangle-bottom"></span>
                                        Action
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" class="form-control" ng-model="model.form.title" id="name" placeholder="Name">
                                    </td>
                                    <td align="right">
                                        <button type="button" class="glyphicon glyphicon-plus btn btn-primary" ng-click="model.addForm()"></button>
                                        <button type="button" class="glyphicon glyphicon-ok btn btn-primary btn-success" ng-click="model.updateForm(model.form)"></button>
                                    </td>
                                </tr>
                                <tr ng-repeat="form in model.viewForms">
                                    <td>
                                        <a href="#/form/{{form._id}}/fields">{{form.title}}</a>
                                    </td>
                                    <td align="right">
                                        <button type="button" class="glyphicon glyphicon-remove btn btn-danger" ng-click="model.deleteForm($index)"></button>&nbsp;
                                        <button type="button" class="glyphicon glyphicon-pencil btn btn-warning" ng-click="model.selectForm($index)"></button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>