<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col-xs-12">
            <div class="input-group">
                <input type="text" class="form-control" style="height: 41px ; color: white;" placeholder="City" ng-model="model.e.city">
                  <span class="input-group-btn">
                   <button type="submit" class="btn btn-default" ng-click="model.searchLocation(model.e)" style="height: 41px">Go</button>
                  </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
    <br>
    <div class="row">
        <div class="masonry">
            <div class="item col-xs-12 col-md-3 col-sm-3" ng-repeat="event in model.eventDetails">
                <div class="thumbnail" style="border-color:white ; height: 500px; max-height: 500px ; border-radius: 25px">
                    <img src="{{event.image}}" style="width: 500px; height: 250px; border: inset ; border-color:blue ; border-radius: 25px">
                    <div class="caption">
                        <a href="#/event/{{event.id}}" style="text-align: center">
                            <p style="text-decoration: blink ; color:palevioletred ; font-size: smaller">{{event.title}}</p>
                        </a>
                        <hr>
                        <div style="text-align: center">
                            <p>{{event.city}}</p>
                            <i class="fa fa-calendar"> {{event.start_time | date:"MM/dd/yyyy"}} </i>
                            <p>{{event.venue_name}}</p>
                            <a ng-if = "currentuser.username" href="" class="btn" ng-click="model.addEvent(event)"> <i class="fa fa-thumbs-up fa-2x" style="color: blue"></i> </a>
                        </div>
                    </div>
                </div>
            </div><!--/.item  -->
        </div>
    </div>
</div>