<div class="container" id="main">
    <div align="right" style="margin-top: 10px">
        <a ng-if = "currentuser.username && model.eventData.color == 'blue'" href="" class="btn" ng-click="model.addEvent(model.eventData)">
            <i class="fa fa-thumbs-up fa-2x" style="color: blue"></i>
        </a>

        <a ng-if = "currentuser.username && model.eventData.color == 'green'" href="" class="btn" disabled>
            <i class="fa fa-thumbs-up fa-2x" style="color: green"></i>
        </a>
    </div>
    <div class="row">
        <a id="a" href="{{model.eventData.url}}" target="_blank">
            <h2>
                {{model.eventData.title}}
            </h2>
        </a>
        <div class="col-md-3">
            <img src="{{model.eventData.image}}" width="252px"/>
        </div>
        <div class="col-md-3">
            <p>City : {{model.eventData.city}}</p>
            <p>Price Per Ticket : {{model.eventData.price}}</p>
            <p><a id="a" href="{{model.eventData.ticketLink}}" target="_blank">Want to book tickets?</a></p>
            <p>Event Starts At : {{model.eventData.startTime | date}}</p>
            <p>Event Venue Name : {{model.eventData.venueName}}</p>
            <p>Event Venue Address : {{model.eventData.venueAddress}}</p>
        </div>
        <div class="col-md-6">
            <ng-map center="{{model.eventData.latitude}},{{model.eventData.longitude}}" zoom="15">
                <marker position = "{{model.eventData.latitude}},{{model.eventData.longitude}}"></marker>
                <!--<marker position="current-location"></marker>-->
                <control name="overviewMap" opened="true"></control>
            </ng-map>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default" ng-if="currentuser.username">
                <div class="panel-heading">
                    <div class="input-group">
                        <textarea class="form-control" placeholder="Start typing your comment" ng-model="model.comment"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="model.addComment(model.comment,model.eventData)"> Add Comment </button>
                            </span>
                    </div><!-- /input-group -->
                </div>
                <div class="panel-body">
                    <ul ng-repeat="c in model.comments" class="commentList">
                        <li>
                            <div class="commentText">
                                <h5 style="font-weight: bold;">{{c.user}} said</h5>
                                <p>&nbsp;&nbsp;&nbsp;{{c.comment}} <span class="date sub-text">on {{c.timePosted | date}}</span></p>
                                <button type="button" class="btn btn-default" style="height: 10px; width: 10px;"
                                        data-toggle="tooltip" data-placement="right" title="delete this comment"
                                        ng-click="model.deleteComment(c)"></button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>