<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{model.eventData.image}}" style="width: 50%;height: 50%"/>
        </div>
        <div class="col-md-6">
           <a href="{{model.eventData.url}}" target="_blank">
            <h3>{{model.eventData.title}}</h3>
           </a>
            <br>
            City : {{model.eventData.city}}
            <br>
            Price Per Ticket : {{model.eventData.price}}
            <br>
            Event Starts At : {{model.eventData.start_time}}
            <br>
            <a href="{{model.eventData.ticketLink}}">Want to book tickets?</a>
            <br>
            Event Venue Name : {{model.eventData.venue_name}}
            <br>
            Event Venue Address : {{model.eventData.venue_address}}
        </div>
    </div>
</div>