<div class="container">
    <div class="row">
        <div class="col-md-6">
            <br> <br> <br>
            <a href="{{model.eventData.url}}" target="_blank">
                <p style="font-size: x-large; color: white">
                    {{model.eventData.title}}
                </p>
            </a>
            <img src="{{model.eventData.image}}" width="252px"/>
            <br> <br>
            <div class="panel panel-default" ng-if="currentuser.username">
                <div class="panel-heading">
                    <div class="input-group">
                        <textarea class="form-control" placeholder="Start typing your comment" ng-model="model.comment"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="model.addComment(model.comment,model.eventData)"> Add Comment </button>
                        </span>
                    </div><!-- /input-group -->
                </div>
                <div class="panel-body">
                    <ul ng-repeat="c in model.comments" class="commentList">
                        <li>
                            <div class="commentText">
                                <h5 style="font-weight: bold;">{{c.user}} said</h5>
                                <p>&nbsp;&nbsp;&nbsp;{{c.comment}} <span class="date sub-text">on {{c.timePosted | date}}</span></p>
                                <button type="button" class="btn btn-default" style="height: 10px; width: 10px;"
                                        data-toggle="tooltip" data-placement="right" title="delete this comment"
                                        ng-click="model.deleteComment(c)"></button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <br> <br> <br>
            <br>
            <p id="signFont">City : {{model.eventData.city}}</p>
            <br>
            <p id="signFont">Price Per Ticket : {{model.eventData.price}}</p>
            <p id="signFont"><a href="{{model.eventData.ticketLink}}">Want to book tickets?</a></p>
            <br>
            <p id="signFont">Event Starts At : {{model.eventData.startTime | date}}</p>

            <br>
            <p id="signFont">Event Venue Name : {{model.eventData.venueName}}</p>
            <br>
            <p id="signFont">Event Venue Address : {{model.eventData.venueAddress}}</p>
        </div>
    </div>
</div>