<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div>
            <ul class="nav nav-tabs nav-justified">
                <li role="presentation" class="active">
                    <a href="#/maevent" aria-controls="event">Event</a></li>
                <li role="presentation">
                    <a href="#/marecipe" aria-controls="recipe">Recipe</a></li>
                <li role="presentation">
                    <a href="#/maspace" aria-controls="space">Space</a></li>
            </ul>
            <!-- events -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="event">
                    <div class="panel panel-default" style="border-radius : 25px">
                        <div id="panel-heading" class="panel-heading" style="border-top-left-radius : 25px ;border-top-right-radius : 25px"><center>Events Board</center></div>
                        <div class="panel-body">
                            <div class="masonry">
                                <div class="item col-xs-12 col-md-3" ng-repeat="event in model.myEvents">
                                    <div class="thumbnail" style="border: outset; border-color:lightgrey ; height: 400px; max-height: 500px; border-radius: 25px;">
                                        <img ng-src="{{event.image}}"  width="245px" height="150px" style="border: inset ; border-color:blue; border-radius: 25px;">
                                        <div class="caption">
                                            <a href="#/event/{{event.eventId}}" style="text-align: center">
                                                <p style="text-decoration: blink ; color:palevioletred ; font-size: smaller">{{event.title}}</p>
                                            </a>
                                            <hr>
                                            <div style="text-align: center">
                                                <p>{{event.city}}</p>
                                                <i class="fa fa-calendar"> {{event.start_time | date:"MM/dd/yyyy"}} </i>
                                                <p>{{event.venue_name}}</p>
                                                <a ng-if = "currentuser.username" href="" class="btn" ng-click="model.removeEvent(event)">
                                                    <i class="fa fa-times fa-2x" style="color: blue"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--/.item  -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>