<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="page-header">Admin</h2>
            <h3 class="page-header">Users</h3>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>
                            <a href="" ng-click="model.sortType = 'username' ; model.sortReverse = !model.sortReverse" style="text-decoration: none ; color: black">
                                <span ng-show="!model.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span ng-show="model.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                            </a>
                            Username
                        </th>
                        <th>
                            Password
                        </th>
                        <th>
                            <a href="" ng-click="model.sortType = 'firstName' ; model.sortReverse = !model.sortReverse" style="text-decoration: none ; color: black">
                                <span ng-show="!model.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span ng-show="model.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                            </a>
                            First Name
                        </th>
                        <th>
                            <a href="" ng-click="model.sortType = 'lastName' ; model.sortReverse = !model.sortReverse" style="text-decoration: none ; color: black">
                                <span ng-show="!model.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span ng-show="model.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                            </a>
                            Last Name
                        </th>
                        <th>
                            Roles
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" class="form-control" id="uName" placeholder="Username" ng-model="model.user.username">
                        </td>
                        <td>
                            <input type="password" class="form-control" id="passwd" placeholder="Password" ng-model="model.user.password">
                        </td>
                        <td>
                            <input type="text" class="form-control" id="passwd" placeholder="First Name" ng-model="model.user.firstName">
                        </td>
                        <td>
                            <input type="text" class="form-control" id="passwd" placeholder="Last Name" ng-model="model.user.lastName">
                        </td>
                        <td>
                            <input type="text" class="form-control" id="role" placeholder="Role1, Role2" ng-model="model.user.roles" ng-list required>
                        </td>
                        <td align="center">
                            <button type="button" class="glyphicon glyphicon-plus btn btn-primary" ng-click="model.addUser(model.user)"></button>
                            <button type="button" class="glyphicon glyphicon-ok btn btn-primary btn-success" ng-click="model.updateUser(model.user)"></button>
                        </td>
                    </tr>
                    <tr ng-repeat="user in model.users|orderBy:model.sortType:model.sortReverse track by $index">
                        <td>
                            {{user.username}}
                        </td>
                        <td></td>
                        <td>
                            {{user.firstName}}
                        </td>
                        <td>
                            {{user.lastName}}
                        </td>
                        <td>
                            {{user.roles.toString()}}
                        </td>
                        <td align="center">
                            <button type="button" class="glyphicon glyphicon-remove btn btn-danger" ng-click="model.deleteUser(user)"></button>
                            <button type="button" class="glyphicon glyphicon-cog btn btn-warning" ng-click="model.selectUser($index)"></button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>