<div class="container-fluid">
    <div class="row">
        <!--<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">-->
        <h2 class="page-header">Saved Pins</h2>
        <div>
            <ul class="nav nav-tabs nav-justified">
                <li role="presentation">
                    <a href="#/maevent" aria-controls="event">Event</a></li>
                <li role="presentation" class="active">
                    <a href="#/marecipe" aria-controls="recipe">Recipe</a></li>
                <li role="presentation">
                    <a href="#/maspace" aria-controls="space">Space</a></li>
            </ul>

            <!-- recipes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="recipe">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <tr>
                                <th>
                                    <span class="glyphicon glyphicon-triangle-bottom"></span>
                                    Recipe Title
                                </th>
                                <th>
                                    <span class="glyphicon glyphicon-triangle-bottom"></span>
                                    Recipe Url
                                </th>
                                <th>
                                    <span class="glyphicon glyphicon-triangle-bottom"></span>
                                    Recipe Image Url
                                </th>
                                <th>
                                    <span class="glyphicon glyphicon-triangle-bottom"></span>
                                    Action
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" class="form-control" ng-model="recipe.title" id="title" placeholder="Title">
                                </td>
                                <td>
                                    <input type="text" class="form-control" ng-model="recipe.url" id="url" placeholder="Url">
                                </td>
                                <td>
                                    <input type="text" class="form-control" ng-model="recipe.image" id="img" placeholder="ImageUrl">
                                </td>
                                <td align="right" style="white-space:nowrap">
                                    <button type="button" class="glyphicon glyphicon-thumbs-up btn btn-primary" ng-click="addRecipe()"></button>
                                    <!--<span class="glyphicon glyphicon-plus"></span> &nbsp;-->
                                    <button type="button" class="glyphicon glyphicon-ok btn btn-primary btn-success" ng-click="updateRecipe()"></button>
                                    <!--<span class="glyphicon glyphicon-ok"></span>-->
                                </td>
                            </tr>
                            <tr ng-repeat="recipe in recipeList">
                                <td>
                                    {{recipe.title}}
                                </td>
                                <td>
                                    {{recipe.url}}
                                </td>
                                <td>
                                    {{recipe.image}}
                                </td>
                                <td align="right" style="white-space:nowrap">
                                    <button type="button" class="glyphicon glyphicon-remove btn btn-danger" ng-click="deleteRecipe($index)"></button>
                                    <!--<span class="glyphicon glyphicon-remove"></span> &nbsp;-->
                                    <button type="button" class="glyphicon glyphicon-pencil btn btn-warning" ng-click="selectRecipe($index)"></button>
                                    <!--<span class="glyphicon glyphicon-pencil"></span>-->
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>