<div class="container" id="main">
    <div class="row">
        <div>
         <a id="a" href="{{model.recipeData.attribution.url}}" target="_blank"><h2 align="center">{{model.recipeData.name}}</h2></a>
        </div>
        <div class="col-md-6">
            <p style="font-size: x-large;" ng-if="model.recipeData.totalTime">Total Preparation Time : {{model.recipeData.totalTime}}
            <a ng-if = "currentuser.username && !model.dbRecipe && model.color != 'green'" href="" class="btn" ng-click="model.addRecipe(model.recipeData)">
                <i class="fa fa-heart fa-2x" style="color: crimson"></i>
            </a>

            <a ng-if = "currentuser.username && model.dbRecipe || model.color == 'green'" href="" class="btn" disabled>
                <i class="fa fa-heart fa-2x" style="color: green"></i>
            </a>
            </p>
            <br ng-if="!model.recipeData.totalTime">
            <br ng-if="!model.recipeData.totalTime">
            <img ng-src="{{model.recipeData.images[0].hostedLargeUrl}}" style="width: 100% ; height: 100%;"/>
        </div>
        <div class="col-md-6">
            <br><br>
            <div>
            <p style="font-size: x-large;">INGREDIENTS  <span style="font-size: smaller"> (No. of Servings : {{model.recipeData.numberOfServings}})</span></p>
            <ul ng-repeat="ingredient in model.recipeData.ingredientLines track by $index">
                <li>{{ingredient}}</li>
            </ul>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default" ng-if="currentuser.username">
                <div class="panel-heading">
                    <div class="input-group">
                        <textarea class="form-control" placeholder="Start typing your comment" ng-model="model.comment"/>
                  <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="model.addComment(model.comment,model.recipeData)"> Add Comment </button>
                  </span>
                    </div><!-- /input-group -->
                </div>
                <div class="panel-body">
                    <ul ng-repeat="c in model.comments" class="commentList">
                        <li>
                            <div class="commentText">
                                <h5 style="font-weight: bold;">{{c.user}} said</h5>
                                <p>&nbsp;&nbsp;&nbsp;{{c.comment}} <span class="date sub-text">on {{c.timePosted | date}}</span></p>
                                <button type="button" class="btn btn-default" style="height: 10px; width: 10px;"
                                        data-toggle="tooltip" data-placement="right" title="delete this comment"
                                        ng-click="model.deleteComment(c)"></button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>