<div class="container">
    <div class="row">
    <div class="col-md-6">
        <br> <br> <br>
        <h3 style="font-size: x-large">{{model.recipeData.name}}</h3>
        <h4 style="font-size: x-large" ng-if="model.recipeData.totalTime">Total Preparation Time : {{model.recipeData.totalTime}}</h4>
        <br ng-if="!model.recipeData.totalTime">
        <br ng-if="!model.recipeData.totalTime">
        <img src="{{model.recipeData.images[0].hostedLargeUrl}}" style="width: 100% ; height: 100%;"/>
    </div>
        <div class="col-md-6">
            <br> <br> <br> <br> <br>
            <!--<div id="stars-as-hearts">-->
                <!--{{recipeData.rating}}-->
            <!--</div>-->
            <div scrollend style="max-height: 430px; overflow: auto; overflow-y: scroll; padding-right: 0px;" id="recipeList">
            <h3 style="font-size: x-large">INGREDIENTS  (No. of Servings : {{model.recipeData.numberOfServings}})</h3>
            <ul ng-repeat="ingredient in model.recipeData.ingredientLines track by $index">
                <li>{{ingredient}}</li>
            </ul>
            </div>
        </div>
    </div>
</div>