<div class="container">
    <br>
    <div class="row">
        <div class="col-xs-12">
            <div class="input-group">
                <input style="color: white" type="text" class="form-control" style="height: 41px" placeholder="Cake" ng-model="model.r.recipe">
                  <span class="input-group-btn">
                   <button type="submit" class="btn btn-default" ng-click="model.searchRecipe(model.r)">GO</button>
                  </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->

    <br>
    <div class="masonry">
        <div class="item col-xs-12 col-md-3 col-sm-3" ng-repeat="recipe in model.recipeDetails">
            <div class="thumbnail" style="border-color:white ; height: 350px; max-height: 350px ;border-radius: 25px;">
                <img src="{{recipe.image}}" style="width: 100%; border: groove; border-color: crimson ;border-radius: 25px;">
                <div class="caption">
                    <a href="#/recipe/{{recipe.id}}" style="text-align: center">
                        <p style="text-decoration: blink ; color:palevioletred ; font-size: smaller">{{recipe.title}}</p>
                    </a>
                    <hr>
                    <div style="text-align: center">
                        <p>{{recipe.source}}</p>
                        <a ng-if = "currentuser.username" href="" class="btn" ng-click="model.addRecipe(recipe)"> <i class="fa fa-heart fa-2x" style="color: crimson"></i> </a>
                    </div>
                </div>
            </div>
        </div><!--/.item  -->
    </div>
</div>
