<div class="col-md-6">
    <div class="container">
        <form class="form-inline" role="form">
            <div class="form-group">
                <label class="sr-only" for="topic">RECIPE</label>
                <div class="input-group">
                    <div class="input-group-addon" style="font-size: xx-small">RECIPE</div>
                    <input type="text" class="form-control" id="topic" placeholder="Cake" ng-model="model.r.recipe">
                </div>
            </div>
            <button type="submit" class="btn btn-info" ng-click="model.searchRecipe(model.r)">GO</button>
            <!--<button type="submit" class="btn btn-info" ng-click="#/recipeSearch/:r.recipe">GO</button>-->
        </form>
        <br>
        <div class="row masonry-container border" ng-repeat="recipe in model.recipeDetails">
            <div class="col-xs-6 col-sm-3 col-md-3 item">
                <div class="thumbnail">
                    <img src="{{recipe.image}}" style="width: 100%">
                    <div class="caption">
                        <a href="#/recipe/{{recipe.id}}">
                            <h4 style="text-decoration: blink ; color:palevioletred" >{{recipe.title}}</h4>
                        </a>
                    </div>
                </div>
            </div><!--/.item  -->
            <!--<div class="col-xs-6 col-sm-3 col-md-3 item">-->
                <!--<div class="thumbnail">-->
                    <!--<img src="{{recipe.image}}" style="width: 100%">-->
                    <!--<div class="caption">-->
                        <!--<h4>{{recipe.title}}</h4>-->
                        <!--<p></p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>&lt;!&ndash;/.item  &ndash;&gt;-->
        </div>
    </div>
</div>