<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h2 class="page-header">Saved Pins</h2>
        <div>
            <ul class="nav nav-tabs nav-justified">
                <li role="presentation">
                    <a href="#/maevent" aria-controls="event">Event</a></li>
                <li role="presentation">
                    <a href="#/marecipe" aria-controls="recipe">Recipe</a></li>
                <li role="presentation" class="active">
                    <a href="#/maspace" aria-controls="space">Space</a></li>
            </ul>

            <!-- space news -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="space">
                    <div class="panel panel-default" style="border-radius : 25px" ng-show=true>
                        <div id="panel-heading" class="panel-heading" style="border-top-left-radius : 25px ;border-top-right-radius : 25px"><center>Space Exploration Board</center></div>
                        <div class="panel-body">
                            <div class="masonry">
                                <div class="col-xs-12 col-md-3 item" ng-repeat="news in model.myNews">
                                    <div class="thumbnail" style="border : outset ; border-color:lightgrey ; height: 400px; max-height: 500px ; border-radius: 25px;">
                                        <img src="{{news.image}}" width="245px" height="150px" style="width: 100%; border: groove ; border-color: blueviolet; border-radius: 25px;">
                                        <div class="caption">
                                            <a href="#/news/{{news.newsId}}" style="text-decoration: blink ; color:purple">
                                                <p>{{news.title}}</p>
                                                <p>Published : {{news.publishedDate | date}}</p>
                                            </a>
                                            <hr>
                                            <div style="text-align: center">
                                                <a ng-if = "currentuser.username" href="" class="btn" ng-click="model.removeNews(news)">
                                                    <i class="fa fa-times fa-2x" style="color: blueviolet"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--/.item  -->
                            </div> <!--/.masonry-container  -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
            </div>
    </div>
</div>