<div class="col-md-6">
    <div class="container">
        <form class="form-inline" role="form">
            <div class="form-group">
                <label class="sr-only" for="topic">Topic</label>
                <div class="input-group">
                    <div class="input-group-addon" style="font-size: xx-small">TOPIC</div>
                    <input type="text" class="form-control" id="topic" placeholder="Gravitational Waves" ng-model="model.s.spacenews">
                </div>
            </div>
            <button type="submit" class="btn btn-info" ng-click="model.searchSpaceNews(model.s)">GO</button>
        </form>
        <br>
        <div class="masonry">
            <div class="col-xs-6 col-sm-3 col-md-3 item" ng-repeat="news in model.newsDetails">
                <div class="thumbnail" style="border: groove ; border-color:white">
                    <img src="{{news.image}}" style="width: 100%; border: groove ; border-color: crimson">
                    <div class="caption">
                        <a href="#/news/{{news.id}}" style="text-decoration: blink ; color:purple">
                            <p>{{news.title}}</p>
                            <p>{{news.publishedDate}}</p>
                        </a>
                        <hr>
                        <div style="text-align: center">
                            <a ng-if = "currentuser.username" href="" class="btn" ng-click="model.addNews(news)"> <i class="fa fa-bookmark fa-2x" style="color: crimson"></i> </a>
                        </div>
                    </div>
                </div>
            </div><!--/.item  -->
        </div> <!--/.masonry-container  -->
    </div>
</div>