<div class="col-md-6">
    <div class="container">
        <form class="form-inline" role="form">
            <div class="form-group">
                <label class="sr-only" for="topic">Topic</label>
                <div class="input-group">
                    <div class="input-group-addon" style="font-size: xx-small">TOPIC</div>
                    <input type="text" class="form-control" id="topic" placeholder="Gravitational Waves" ng-model="s.spacenews">
                </div>
            </div>
            <button type="submit" class="btn btn-info" ng-click="searchSpaceNews(s)">GO</button>
        </form>
        <br>
        <div class="row masonry-container" ng-repeat="news in newsDetails">
            <div class="col-xs-6 col-sm-3 col-md-3 item">
                <div class="thumbnail">
                    <img src="{{news.image}}" alt="">
                    <div class="caption">
                        <a href="#/news/{{news.id}}" style="text-decoration: blink ; color:purple"><h4>{{news.title}}</h4></a>
                        <p>{{news.content}}</p>
                    </div>
                </div>
            </div><!--/.item  -->
            <!--<div class="col-xs-6 col-sm-3 col-md-3 item">-->
                <!--<div class="thumbnail">-->
                    <!--<img src="http://lorempixel.com/150/200/abstract" alt="">-->
                    <!--<div class="caption">-->
                        <!--<h3>Thumbnail label</h3>-->
                        <!--<p>Lorem ipsumLorem ipdolor sit amet, consectetur adipisicing eli dolor sit amet, consectetur adipisicing elit. </p>-->

                    <!--</div>-->
                <!--</div>-->
            <!--</div>&lt;!&ndash;/.item  &ndash;&gt;-->
        </div> <!--/.masonry-container  -->
    </div>
</div>