<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{eventData.image}}" style="width: 50%;height: 50%"/>
        </div>
        <div class="col-md-6">
           <a href="{{eventData.url}}">
            <h3>{{eventData.title}}</h3>
           </a>
            <br>
            City : {{eventData.city}}
            <br>
            Price Per Ticket : {{eventData.price}}
            <br>
            Event Starts At : {{eventData.start_time}}
            <br>
            <a href="{{eventData.ticketLink}}">Want to book tickets?</a>
            <br>
            Event Venue Name : {{eventData.venue_name}}
            <br>
            Event Venue Address : {{eventData.venue_address}}
        </div>
    </div>
</div>