<nav class="navbar navbar-default navbar-fixed-top" ng-controller="HeaderController as model">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home">Info<span style="color: crimson; font-size: large">Pin</span>Strap</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Interests
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu" ng-if="!currentuser.username">
                        <li><a href="#/home" ng-click="model.categoryClicked('event')">Events</a></li>
                        <li><a href="#/home" ng-click="model.categoryClicked('recipe')">Cooking Recipes</a></li>
                        <li><a href="#/home" ng-click="model.categoryClicked('news')">Space Exploration</a></li>
                    </ul>
                    <ul class="dropdown-menu" role="menu" ng-if="currentuser.username">
                        <li ng-repeat="cat in currentuser.interests">
                        <a href="#/home" ng-click="model.categoryClicked(cat)">{{cat}}</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <form class="navbar-form navbar-left" role="search" ng-if="currentuser.username">
                <div class="form-group">
                    <input type="text" class="form-control" id="users"  ng-model="model.selectedUser" ng-keydown="model.complete()" placeholder="Start typing the username" style="width: 200px;">
                </div>
                      <a class="btn btn-default" ng-if="model.selectedUser != currentuser.username" href="#/user/{{model.selectedUser}}" style="text-align: center; height: 35px">Search Profile</a>
                      <a class="btn btn-default" ng-if="model.selectedUser == currentuser.username" href="#/myAccount" style="text-align: center; height: 35px">Search Profile</a>
            </form>

            <ul class="nav navbar-nav navbar-right">
                <li ng-class="{'active' : model.$location.url()=='/register'}"><a href="#/register" ng-if="!currentuser.username" id="myReg" >Register</a></li>
                <li ng-class="{'active' : model.$location.url()=='/login'}"><a href="#/login" ng-if="!currentuser.username">Login</a></li>
                <li ng-class="{'active' : model.$location.url()=='/profile'}"><a ng-if="currentuser.username" href="#/profile">{{currentuser.username}}</a></li>
                <li ng-class="{'active' : model.$location.url()=='/myAccount'}"><a ng-if="currentuser.username" href="#/myAccount">My Profie</a></li>
                <li><a ng-if="currentuser.username" href="#/home" ng-click="model.logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>